PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'Game_app','0001_initial','2025-12-15 12:23:45.418702');
INSERT INTO django_migrations VALUES(2,'contenttypes','0001_initial','2025-12-15 12:23:45.509009');
INSERT INTO django_migrations VALUES(3,'contenttypes','0002_remove_content_type_name','2025-12-15 12:23:45.599613');
CREATE TABLE IF NOT EXISTS "Game_app_category" ("category_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NULL, "description" text NOT NULL);
INSERT INTO Game_app_category VALUES(1,'PK','Game for PK');
INSERT INTO Game_app_category VALUES(2,'PlayStation','Game for Sony PlayStation');
CREATE TABLE IF NOT EXISTS "Game_app_product" ("product_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NULL, "description" text NOT NULL, "characteristic" text NOT NULL, "image" varchar(100) NOT NULL, "price" decimal NOT NULL, "rating" integer NOT NULL, "created_at" datetime NOT NULL, "category_id" integer NOT NULL REFERENCES "Game_app_category" ("category_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO Game_app_product VALUES(1,'Atomic Heart','',unistr('╨в╨╕╨┐ ╤В╨╛╨▓╨░╤А╨░: ╨Ш╨│╤А╤Л ╨┤╨╗╤П Playstation \u000a╨б╨╛╨╖╨┤╨░╤В╨╡╨╗╤М: Mundfish,\u000a╨У╨╛╨┤ ╨▓╤Л╤Е╨╛╨┤╨░:2023, \u000a╨Ц╨░╨╜╤А:Action/RPG'),'product_im/AtomicH.jpg',3000,4,'2025-06-02 12:00:00',2);
INSERT INTO Game_app_product VALUES(2,'Ghost of Tsushima','',unistr('╨в╨╕╨┐ ╤В╨╛╨▓╨░╤А╨░: ╨Ш╨│╤А╤Л ╨┤╨╗╤П Playstation \u000a╨б╨╛╨╖╨┤╨░╤В╨╡╨╗╤М: Sucker Punch Productions,\u000a╨У╨╛╨┤ ╨▓╤Л╤Е╨╛╨┤╨░:2020,\u000a╨Ц╨░╨╜╤А:Action-adventure'),'product_im/ps5_ghost_eu_dir.png',4500,5,'2025-06-03 12:00:00',2);
INSERT INTO Game_app_product VALUES(3,'EA Sports FC 25 (FIFA 25)','',unistr('╨в╨╕╨┐ ╤В╨╛╨▓╨░╤А╨░: ╨Ш╨│╤А╤Л ╨┤╨╗╤П Playstation \u000a╨б╨╛╨╖╨┤╨░╤В╨╡╨╗╤М: EA Vancouver ╨╕ EA Romania, \u000a╨У╨╛╨┤ ╨▓╤Л╤Е╨╛╨┤╨░:2024,\u000a╨Ц╨░╨╜╤А:Sports'),'product_im/EAFC25ps5.png',3990,5,'2025-06-07 12:00:00',2);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','group');
INSERT INTO django_content_type VALUES(3,'auth','permission');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "accounts_customuser" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL);
INSERT INTO accounts_customuser VALUES(1,'pbkdf2_sha256$1200000$b8RvvdJ8f0D5YPgd7moMyM$VksAkXFlCMVtEcHDAgumVuym3DSXsyxMenR0V4F/AMQ=','2025-12-17 12:25:59.117996',0,'Kristina08','╨Ъ╤А╨╕╤Б╤В╨╕╨╜╨░','╨┐╨╛╨┐╨╛╨▓╨░','Burllesk@mail.ru',0,1,'2025-12-15 12:26:49.492451');
INSERT INTO accounts_customuser VALUES(2,'pbkdf2_sha256$1200000$4WCYvfcv2fXkGyEIkMZe09$9cvEvgBf7WKHMsvZM+mEmk5nEXro5PHFPaU7mJFDgOI=','2025-12-17 12:23:44.757983',1,'admin','','','',1,1,'2025-12-17 12:23:34.344607');
INSERT INTO accounts_customuser VALUES(3,'pbkdf2_sha256$1200000$11ZMPEsydRJufhUdGzhfug$atXyGAT+KwGJIOptzJBwCKsH5QPMmlVPPTcquhiO/n8=','2025-12-17 12:29:14.971169',0,'Viktoriya','╨Т╨╕╨║╤В╨╛╤А╨╕╤П','╨Ш╨▓╨░╨╜╨╛╨▓╨░','Burningskull@mail.ru',0,1,'2025-12-17 12:26:55.653817');
CREATE TABLE IF NOT EXISTS "accounts_customuser_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "accounts_customuser_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "accounts_profile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "birth_date" date NULL, "phone" varchar(15) NULL, "address" text NULL, "user_id" bigint NOT NULL UNIQUE REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO accounts_profile VALUES(1,NULL,NULL,NULL,1);
INSERT INTO accounts_profile VALUES(2,NULL,NULL,NULL,3);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('cblnqw3nk9mpgvwqi9klym88iatglm5g','.eJxVjMsOgjAUBf-la9P0FostS_d-A7mP1qIGklJWhH8XEha6PTNnVtXjUnO_zLH0g6hONeryuxHyO44HkBeOz0nzNNYykD4UfdJZPyaJn_vp_gUyznl_AzB7gylRFLCAaKg1wbdRkNgnksDBi2nYgwR3s6GBANfYOu8sEOEeZSxVdeu2fQFNIjum:1vVsyV:wMz459mV_-O2Rg-BIkyTf48RGpnaw_1nrjkgsxKyreU','2025-12-31 14:57:59.796790');
CREATE TABLE IF NOT EXISTS "orders_order" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "total_price" decimal NOT NULL, "status" varchar(20) NOT NULL, "delivery_address" text NOT NULL, "phone" varchar(20) NOT NULL, "user_id" bigint NOT NULL REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO orders_order VALUES(1,'2025-12-16 10:04:29.309663','2025-12-16 10:04:29.309682',0,'pending','','9133711502',1);
INSERT INTO orders_order VALUES(2,'2025-12-16 10:05:47.058197','2025-12-16 10:05:47.058217',12000,'pending','','9133711502',1);
INSERT INTO orders_order VALUES(3,'2025-12-16 10:10:30.442478','2025-12-16 10:10:30.442496',12000,'pending','','9133711502',1);
CREATE TABLE IF NOT EXISTS "orders_orderitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "price" decimal NOT NULL, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "order_id" bigint NOT NULL REFERENCES "orders_order" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" integer NOT NULL REFERENCES "Game_app_product" ("product_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO orders_orderitem VALUES(1,3000,4,1,1);
INSERT INTO orders_orderitem VALUES(2,3000,4,2,1);
INSERT INTO orders_orderitem VALUES(3,3000,4,3,1);
CREATE TABLE IF NOT EXISTS "payment_payment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "yookassa_id" varchar(255) NOT NULL UNIQUE, "amount" decimal NOT NULL, "currency" varchar(3) NOT NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "order_id" bigint NOT NULL REFERENCES "orders_order" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',24);
INSERT INTO sqlite_sequence VALUES('django_content_type',14);
INSERT INTO sqlite_sequence VALUES('auth_permission',56);
CREATE INDEX "Game_app_product_category_id_88d50fac" ON "Game_app_product" ("category_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq" ON "accounts_customuser_groups" ("customuser_id", "group_id");
CREATE INDEX "accounts_customuser_groups_customuser_id_bc55088e" ON "accounts_customuser_groups" ("customuser_id");
CREATE INDEX "accounts_customuser_groups_group_id_86ba5f9e" ON "accounts_customuser_groups" ("group_id");
CREATE UNIQUE INDEX "accounts_customuser_user_permissions_customuser_id_permission_id_9632a709_uniq" ON "accounts_customuser_user_permissions" ("customuser_id", "permission_id");
CREATE INDEX "accounts_customuser_user_permissions_customuser_id_0deaefae" ON "accounts_customuser_user_permissions" ("customuser_id");
CREATE INDEX "accounts_customuser_user_permissions_permission_id_aea3d0e5" ON "accounts_customuser_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "orders_order_user_id_e9b59eb1" ON "orders_order" ("user_id");
CREATE INDEX "orders_orderitem_order_id_fe61a34d" ON "orders_orderitem" ("order_id");
CREATE INDEX "orders_orderitem_product_id_afe4254a" ON "orders_orderitem" ("product_id");
CREATE INDEX "payment_payment_order_id_22b45881" ON "payment_payment" ("order_id");
CREATE INDEX "payment_payment_user_id_f428ca02" ON "payment_payment" ("user_id");
PRAGMA writable_schema=OFF;
COMMIT;
