{% extends 'includes/base.html' %}
{% block content %}
<h1>О нас</h1>

<p><strong>BestGame</strong> — сеть игровых магазинов в Москве.</p>

<p>Любите видеоигры? Добро пожаловать к нам! Наши сотрудники помогут с выбором, исходя из ваших интересов, предпочтений
    или бюджета, расскажут, покажут и научат пользоваться.</p>

<h4>Наши товары:</h4>
<p>У нас можно приобрести игры для:</p>
<ul>
    <li>#PS4</li>
    <li>#PS5</li>
    <li>#Pk</li>

</ul>

<p>Консоли и аксессуары представлены в офлайн магазинах!</p>
<p><strong>Гарантия на все товары!</strong></p>

<p>В нашем магазине вы можете взять в прокат приставку или диски - в наличии несколько тысяч! Обменять свои консоли и
    диски или воспользоваться услугами ремонта!</p>
{% endblock %}
