{% extends 'includes/base.html' %}
{% block content %}
<h1>Контакты</h1>
<p>Вы можете найти нас по адресу:</p>
<p><strong>г. Москва, Условная улица 2, ТЦ Пример, Цокольный этаж</strong></p>

<h4>Как добраться:</h4>
<p>Остановка метро Пример, выход на площадь Условную, ул. Такая-то.</p>

<h4>Телефон:</h4>
<p>7-499-111-99-11</p>

<h4>Email:</h4>
<p><a href="mailto:BestGame@mail.ru">BestGame@mail.ru</a></p>

<h4>График работы магазина:</h4>
<table class="table">
    <thead>
    <tr>
        <th>День</th>
        <th>Часы работы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Понедельник</td>
        <td>с 10:00 до 21:00</td>
    </tr>
    <tr>
        <td>Вторник</td>
        <td>с 10:00 до 21:00</td>
    </tr>
    <tr>
        <td>Среда</td>
        <td>с 10:00 до 21:00</td>
    </tr>
    <tr>
        <td>Четверг</td>
        <td>с 10:00 до 21:00</td>
    </tr>
    <tr>
        <td>Пятница</td>
        <td>с 10:00 до 21:00</td>
    </tr>
    <tr>
        <td>Суббота</td>
        <td>с 10:00 до 21:00</td>
    </tr>

    </tbody>
</table>

<p>Заказы через сайт принимаются круглосуточно!</p>
{% endblock %}
