{% extends 'includes/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Доставка</h1>

    <section class="mb-5">
        <h2>Виды доставки</h2>
        <p>Наш интернет-магазин осуществляет доставку по Москве и регионам России:</p>
        <ul class="list-unstyled">
            <li><strong>Курьерская доставка по Москве — от 500 руб.</strong></li>
            <li><strong>Самовывоз из нашего розничного магазина – бесплатно!</strong></li>
            <li><strong>Доставка по России ТК СДЭК — от 300 руб. в зависимости от адреса доставки.</strong></li>
        </ul>
    </section>

    <section>
        <h2>Сроки доставки</h2>
        <ul class="list-unstyled">
            <li><strong>Курьерская доставка по Москве – в день оплаты</strong></li>
            <li><strong>Самовывоз – в любой день, кроме воскресенья</strong></li>
            <li><strong>Доставка по России – от 3 до 14 дней в зависимости от региона</strong></li>
        </ul>
    </section>
</div>
{% endblock %}