.cart img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart table {
    width: 100%;
}

td {
    vertical-align: top;
}
