{% extends 'includes/base.html' %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Редактировать профиль</h2>
            <form method="post">
                {% csrf_token %}
                <h4>Информация пользователя</h4>
                <div>
                    <label for="name">Имя:</label>
                    <input type="text" name="name" id="name" value="{{ user.name }}">
                </div>
                <div>
                    <label for="surname">Фамилия:</label>
                    <input type="text" name="surname" id="surname" value="{{ user.surname }}">
                </div>
                <div>
                    <label for="email">Электронная почта:</label>
                    <input type="email" name="email" id="email" value="{{ user.email }}">
                </div>
                <div>
                    <label for="phone">Номер телефона:</label>
                    <input type="tel" name="phone" id="phone" value="{{ user.phone }}">
                </div>
                <div>
                    <label for="address">Адрес:</label>
                    <input type="text" name="address" id="address" value="{{ user.address }}">
                </div>
                <button type="submit" class="btn btn-outline-warning">Сохранить изменения</button>
            </form>
            {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
